/* styling the red to orange button */
$button-color-1: #FF4E4F;
$button-color-2: #FD9637;
%button-style {
    border-radius: 2rem !important;
    padding: 0.6rem 0.5rem !important;
    border: none !important;
}
%button-style2 {
    border-radius: 2rem !important;
    padding: 0.2rem 0.7rem !important;
    border: none !important;
}
%button-color-style {
    background-image: linear-gradient(to right, $button-color-1, $button-color-2) !important;
}
/* End of styling the red to orange button */
$bg-color: #FCFCFC;