@import './StylePartials/_main';
.p-viewer{
  float: right;
  margin-top: -38px;
  position: relative;
  z-index: 1;
  cursor:pointer;
}
.p-viewer2{
  float: right;
  margin-top: -40px;
  position: relative;
  z-index: 1;
  cursor:pointer;
}

.form-rounded {
  border-radius: 2rem !important;
  /* padding: 1.5rem 1rem !important; */
  background-color: #EFEFEF !important;
  border: 0px !important;
  }
.text-red {
  color: #FB988E;
}
.text-color {
  color: #313133 !important;
}

.feedback-error{
    color: red !important;
}

/* Login Styles */
body {
    background-color: $bg-color;
}
.sign-in-button {
    @extend %button-style;
    @extend %button-color-style;
    }
.learn-more {
   @extend .sign-in-button;
   }
.sign-up-button {
    @extend %button-style;
    @extend %button-color-style;
    position: relative;
    }
.sign-up-facebook {
    @extend %button-style;
    background-color: #ffffff !important;
    color: #4AA9F7 !important;
    box-shadow: 0px 2px 5px 2px #E3E3E3 !important;
    }
.sign-up-google {
    @extend %button-style;
    background-color: #ffffff !important;
    color: #FB988E !important;
    box-shadow: 0px 2px 5px 2px #E3E3E3 !important;
    }

.signup-line{ 
    margin: {
    top: -73px;
    bottom: 40px;
    }
}
/* End of Login css */

/* About css */
.about-bg-1{
    background-color: #f9f037;
    height: 100vh;
}
/* End of About css */
.navbar-signup {
    @extend %button-style2;
    @extend %button-color-style;
    box-shadow: 0px 2px 5px 2px #E3E3E3 !important;
    }
/* Location */
.download-app {
    @extend %button-style2;
    background-color: #ffffff !important;
    color: rgb(17, 16, 16) !important;
    box-shadow: 0px 2px 5px 2px #E3E3E3 !important;
    }
.shop-now {
    border-radius: 3rem !important;
    padding: 0.5rem 2rem !important;
    border: none !important;
    background-color: $button-color-2 !important;
}

/* End of Location  */

/* Small screen */
@media (max-width: 767px) {
    .margin-input{
        margin-bottom: 20px !important;
    }
}

/* Medium screens upwards */
@media (min-width: 768px) {
    /* CSS that should be displayed if width is equal to or less than 768px goes here */
    .signup-options{
        width: 35%;
        margin: 0 auto;
    }
    .signup-login{
        width: 60%;
        margin: 0 auto;
    }
}